form {
    margin: 0;
}
br {
    height: 1px;
}
textarea {
    resize: vertical;
    box-sizing: border-box;
    width: 100%;
}
form div.input input, form div.input select{
    border-bottom: 1px solid #888;
}